<ion-header>
  <ion-toolbar>
    <ion-title>sessionExercise</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<div class="container-fluid">
    <ion-row>
      <ion-col>
        <div class="overlay" *ngIf="insertExercise.length || isInsertDone">
          <p class="warning-text">
            Insert exercises are important do them first
          </p>
        </div>
        <ion-col>
            <ion-row>
              <ion-col>
                <div class="cardMat gray-txt">
                  <h1 class="gray-txt mb-1">Exercise List</h1>
                  <div class="d-flex justify-content-start mb-4">
                    <div class="themeLine100 w-25"></div>
                  </div>

                  <div class="queList">
                    <ion-col>
                      <table class="table table-hover">
                        <thead class="themeBG text-white">
                          <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Complaint Exec ID</th>
                            <th scope="col">HB</th>
                            <th scope="col">Description</th>
                            <th scope="col">EXEF</th>
                            <th scope="col">Side</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Set</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Hold</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let item of exerciseList; let i = index"
                            [ngClass]="{ complete: i < ExecDone }"
                          >
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ getCCList(item) }}</td>
                            <td>{{ item.exercise.title }}</td>
                            <td>{{ item.exercise.exef }}</td>
                            <td>{{ item.exercise.sd }}</td>
                            <td>{{ item.priority }}</td>
                            <td>
                              {{
                                item.progressionSets || item.exercise.setMin
                              }}
                            </td>
                            <td>
                              {{
                                item.progressionReps || item.exercise.repMin
                              }}
                            </td>
                            <td>
                              {{
                                item.progressionHold || item.exercise.holdMin
                              }}
                            </td>

                            <td>
                              <ion-button
                                *ngIf="i < ExecDone"
                                disabled
                                class="btn btn-sm btn-secondary"
                                type="button"
                              >
                                Completed
                              </ion-button>
                              <ion-button
                                (click)="showIntroModal(item, false)"
                                *ngIf="i == ExecDone"
                                class="btn btn-primary themeBtn"
                                type="button"
                              >
                                Play
                              </ion-button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ion-col>
                  </div>

                  <div
                    class="d-flex justify-content-end align-items-end mb-3 flex-sm-column flex-lg-row"
                  >
                    <p class="align-self-end m-0 mr-4">
                      Having Trouble?
                      <span class="text-primary font-weight-bold cp"
                        >Click Here!</span
                      >
                    </p>
                    <ion-button
                      class="btn btn-primary themeBtn"
                      type="button"
                      (click)="endSession()"
                    >
                      End Session
                    </ion-button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
