<ion-header>
  <ion-toolbar>
    <ion-title>Complaint1A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading"  style="position: absolute; background-color: rgba(255, 255, 255, 0.6); width: 100%; height: 100%; z-index: 100000">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"> Loading... </span>
        </div>
      </div>
    </div>
  </div>
  <div  class="surveyElement" id='surveyElement2' style="overflow-y: auto;" ></div>
</ion-content>
