<ion-header>
  <ion-toolbar>
    <ion-title>durationTime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <p>How much time you have for session ?</p>
        </div>
        <div class="col-12">
            <div class="form-check form-check-inline col-2" (click)="setValue(60)">
                <input class="form-check-input" type="radio"  name="exampleRadios" id="exampleRadios1" value="60">
                <label class="form-check-label" for="exampleRadios1">
                  60 min
                </label>
              </div>
              <div class="form-check form-check-inline col-2" (click)="setValue(45)">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="45">
                <label class="form-check-label" for="exampleRadios2">
                  45 min
                </label>
              </div>
  
            <div class="form-check form-check-inline col-2" (click)="setValue(30)">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="30">
                <label class="form-check-label" for="exampleRadios3">
                 30 min
                </label>
              </div>
              <div class="form-check form-check-inline col-2" (click)="setValue(15)">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="15">
                <label class="form-check-label" for="exampleRadios4">
                  15 min
                </label>
              </div>
        </div>
        <div class="col-12">
          <ion-button [disabled]="!isTimeSelected"  style="float: right" class="btn btn-sm btn-primary text-end mt-3"  (click)="navigateToPMExercise()" type="button">OK</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
