
.slidecontainer {
    width: 100%;
    }
    
    .slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .slider:hover {
    opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    }
    
    .active{
      fill: red !important;
    }
    
    
      .btn-google {
        color: white;
        background-color: #ea4335;
      }
    
      .btn-facebook {
        color: white;
        background-color: #3b5998;
      }
      .btn-new-user {
        color: white;
        background-color: #fbbd3b;
      }
      .form-control{
        text-align: center;
      }
      .btn-primary {
        color: white;
        background-color: #4185f4;
      }
      .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
    
      .example-radio-button {
        margin: 5px;
      }
    
      area:link, area:hover, area:active, area:focus {
        border: 5px #f00 solid !important;
       }
       div#slider {
        position: absolute;
        top: -87vh;
        width: 150%;
        max-width: 165vh;
    }
    div#slider {
      position: absolute;
      top: -53vh;
      width: 150%;
      max-width: 165vh;
    }
    input {
      background-color: rgb(240, 247, 240); /* Green */
        border: none;
        color: black;
        padding: 15px 15px;
        text-align: start;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 5px;
    }
    .border{
      border: 1px solid red !important;
    }
    .img-slider {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
    .end{
      color: red;
    }
    p{
      width: 100% !important;
    }

    .border1
    {
      border: 2px solid black;
      border-bottom:0px;
    }
    