<ion-header>
  <ion-toolbar>
    <ion-title>AreaSelection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
   
        <ion-col size="12">
            <svg style="max-height:600px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.48 669.21">
              <defs>
              </defs>
              <g id="Layer_2" data-name="Layer 2">
                <g id="body_front">
                  <path id="Left_M" style="fill:#8eaf94" (click)="setActive('Left_M','M', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_M' }"  d="M109.52,601.2H87c-1.48,18.38-6.74,34.36-19.89,48.07-3.05,3.6-3.43,8.62.92,7.76-.6,2.2,1,5.2,3.52,4.67a3.94,3.94,0,0,0,5.28,3.17c.66,3.24,6.56,5.59,8.79-.42-.41.78.87,4.46,4.54,4.6,12.29.43,12.71-23.8,13.45-30.95,3-7.39,7.9-10.12,5.54-19.94.08,0,.24-15.35.24-15.35Z"/>
                  <path id="Right_M" style="fill:#8eaf94" (click)="setActive('Right_M', 'M','RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_M' }"  d="M181.05,602.81s.16,15.33.24,15.35c-2.3,15.15,3.92,11.63,5.67,20.75.73,11.75,1.88,25.39,10.62,29.88,3.47,1.73,8.26-2.25,7.24-4.34,1.34,5.54,8.11,4,8.79.42a3.94,3.94,0,0,0,5.28-3.17c1.73.39,4.2-1.54,3.52-4.67,7.14.55.58-9-1.35-10.37-6.62-8.67-17-25.26-16.69-34.16-.39-3.93-.68-7.67-.88-11.3H180.93Z"/>
                  <g id="Right_L">
                    <path  style="fill:#48a3cf"  (click)="setActive('Right_L','L', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_L' }" d="M89.81,445.66c-1.37,8.36-8.45,31.94-7.76,38.44,0,.88,0,1.75,0,2.61,12.73,8.25,34.47,8,42,7.56.72-7.13,1.35-14.57,1.82-22.45A102.2,102.2,0,0,1,129,452.56C111.94,450.1,97.56,447.06,89.81,445.66Z"/>
                    <path  style="fill:#48a3cf" (click)="setActive('Right_L','L', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_L' }" d="M82,487.05c-.74,46.65,8,85.4,4.76,116.93l22.63-.26c0-.57,0-.91,0-.91,2.48-36.4,10.35-66.72,14.62-108.52C116,494.66,94.85,494.79,82,487.05Z"/>
                  </g>
                  <g id="Left_L">
                    <path  style="fill:#48a3cf" (click)="setActive('Left_L','L', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_L' }" d="M208,478.45c-.37-5.28-6.53-27-7.29-32.3l-.2-.49c-7.74,1.39-22.09,4.43-39.13,6.89A116.12,116.12,0,0,1,165,475.37c.39,6.61.89,12.89,1.47,18.9,7.71.39,29.38.64,42-7.64C208.41,483.55,208.28,480.88,208,478.45Z"/>
                    <path  style="fill:#48a3cf" (click)="setActive('Left_L','L', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_L' }" d="M208.47,486.81c-13,7.71-34.29,7.84-42,7.46v0l-.05,0c4,41.81,12,70.73,14.47,106.81h22.57c-1.81-33.35,4-55.84,4.79-101.78C208.41,494.59,208.5,490.26,208.47,486.81Z"/>
                  </g>
                  <path id="Right_K" style="fill:#ba789c" (click)="setActive('Right_K','K', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_K' }"  d="M144.71,354l-63.6-2.86c.74,27.32,5.54,52,8.7,94.48,0,0,38.93,7.2,39.2,6.9,2.77-11,6.58-22,8.7-38.23C140.77,400.13,139.74,355.26,144.71,354Z"/>
                  <path id="Left_K" style="fill:#ba789c" (click)="setActive('Left_K', 'K', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_K' }"  d="M145.64,354l63.6-2.86c-.74,27.32-5.54,52-8.7,94.48,0,0-38.93,7.2-39.2,6.9-2.77-11-6.58-22-8.7-38.23C149.58,400.13,150.61,355.26,145.64,354Z"/>
                  <path id="J" style="fill:#db904d" (click)="setActive('J','J')" [ngClass]="{ 'active': activeArea == 'J' }"  d="M207,307.07c-4.52,10-119.49,10.95-123.66,2.18a270.59,270.59,0,0,0-2.19,41.86c17.57.84,49.22,2.94,63.89,2.92,17.7,0,53.83-2.08,64.24-2.85A309.15,309.15,0,0,0,207,307.07Z"/>
                  <path id="Left_G" style="fill:#988db7" (click)="setActive('Left_G', 'G', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_G' }"  d="M289.31,335.43a63.31,63.31,0,0,1-14.19-13.31c-4.22-6.66-14.28-6.55-17.9-12.4q-9.83.81-19.68,1.17c2.53,13.34,5.69,61.56,14.17,56.79,2.7-1.53-2.3-13.24-1.33-19.59,1.18,4.51,4.31,28.93,9.36,28.06,4.58-.8-1.77-24.27-1.54-29.47,0-.14,5,30.61,10.71,28.58,3-1.05-2.56-19-3.79-30.7.1.94,7.94,29.29,13.14,25.68,2.22-1.54-3.31-19.32-6-29-2.24-10.28-3.13-13.59,4.41-5C281.57,342.52,294.38,342.72,289.31,335.43Z"/>
                  <path id="Right_G" style="fill:#988db7" (click)="setActive('Right_G', 'G', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_G' }"  d="M1.17,335a63.43,63.43,0,0,0,14.19-13.32c4.22-6.65,14.28-6.55,17.89-12.39,6.55.54,13,1.21,19.54,1.43-2.53,13.34-5.54,61.29-14,56.52-2.71-1.52,2.3-13.23,1.33-19.59-1.18,4.52-4.31,28.94-9.36,28.06-4.58-.79,1.77-24.26,1.54-29.46,0-.15-5,30.6-10.71,28.58-3-1.06,2.56-19,3.79-30.71-.1.94-7.94,29.3-13.15,25.68-2.21-1.54,3.32-19.32,6-29,2.24-10.27,3.13-13.58-4.41-5C8.91,342.07-3.91,342.27,1.17,335Z"/>
                  <g id="Left_F"> 
                    <path  style="fill:#9d928c" (click)="setActive('Left_F', 'F', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_F' }" d="M215,238.93c.67,0,22.79,2.63,33.14-1.84-2.41-8.71-4.93-14.76-6.35-18.77a58,58,0,0,1-2-8.41c-.09.32-13.27,8.65-25.68,13.88C214.26,229.27,215.35,235.73,215,238.93Z"/>
                    <path  style="fill:#9d928c" (click)="setActive('Left_F', 'F', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_F' }" d="M248.17,237.09c7,30,2.06,54.29,8.89,72.47-6.94.76-13.53,1.06-19.42,1.17-4.52-14.53-24-58.23-22.61-71.8C226.88,240.73,241.7,239.91,248.17,237.09Z"/>
                  </g>
                  <g id="Right_F">
                    <path  style="fill:#9d928c" (click)="setActive('Right_F', 'F', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_F' }" d="M75.06,239c-.68,0-21.88,2.53-32.23-1.94,2.41-8.71,4.11-14.21,5.26-18.18,1-3.57,2.47-9.18,2.47-9.18.08.33,13.44,8.56,25.85,13.8A52.69,52.69,0,0,1,75.06,239Z"/>
                    <path id="Left_F-2" style="fill:#9d928c" (click)="setActive('Right_F', 'F', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_F' }" data-name="Left_F"  d="M42.83,237.09c-8.63,29.35-1.89,50.7-9.57,72.17,6.94.77,13.65,1.33,19.53,1.44,7-22.38,19.85-55.91,22.27-71.67C63.29,240.38,49.3,239.91,42.83,237.09Z"/>
                  </g>
                  <g id="Left_E">
                    <path  style="fill:#dd4c97" (click)="setActive('Left_E', 'E', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_E' }" d="M209.56,108.53a48.65,48.65,0,0,1,8.58,3.76s9.54,3.5,15.65,16.94c2.65,5.83,5.07,12.14,3.44,36.39-9.5-1.31-20.34-1.71-34.5,4.2-4.57-12.49-9.5-19-9.5-19-.22-.79,9.11-9,14.23-12,2.26-.38,3.22.38,5.38.71-1.25-7.38-6.07-18.87-6.46-18.71C206.21,116.69,207.5,112.59,209.56,108.53Z"/>
                    <path  style="fill:#dd4c97" (click)="setActive('Left_E', 'E', 'LEFT')" [ngClass]="{ 'active': activeArea == 'Left_E' }" d="M202.88,169.73c12.59-5.76,25.76-5.41,34.35-4.11-2.7,27.76,2.57,44.29,2.57,44.29-7.91,5.5-16.53,9.7-25.68,13.88C211.12,203.26,197.82,181.2,202.88,169.73Z"/>
                  </g>
                  <g id="Right_E">
                    <path id="Left_E-2" style="fill:#dd4c97" (click)="setActive('Right_E', 'E', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_E' }" data-name="Left_E"  d="M81.44,108.53a48.65,48.65,0,0,0-8.58,3.76s-9.54,3.5-15.65,16.94c-2.65,5.83-5.64,12.25-4,36.5,9.51-1.3,20.91-1.82,35.07,4.09,4.57-12.49,9.5-19,9.5-19-1.6-2.3-12.27-10-14.23-12-2.26-.38-3.22.38-5.38.71,1.25-7.38,6.07-18.87,6.46-18.71C84.79,116.69,83.5,112.59,81.44,108.53Z"/>
                    <path  style="fill:#dd4c97" (click)="setActive('Right_E', 'E', 'RIGHT')" [ngClass]="{ 'active': activeArea == 'Right_E' }" d="M88.12,169.73c-12.59-5.76-26.33-5.29-34.92-4,.21,2.42.89,6.15,1.15,9.77.33,14-3.49,34.22-3.79,34.23,7.9,5.51,16.69,9.62,25.85,13.8C75.64,212.88,93.18,181.2,88.12,169.73Z"/>
                  </g> 
                  <path id="D" style="fill:#dd5b5d" (click)="setActive('D', 'D')" [ngClass]="{ 'active': activeArea == 'D' }"  d="M194.52,241c0,.24.06.47.1.71-34.73-26-47.08-53.17-98.57,0,0,0,0,0,0-.07l-.13.13c-1,6-2.35,12.71-4.17,20.42-4.09,18.35-6.79,33.59-8.47,47,4.17,8.78,119.23,7.84,123.66-2.19C203.53,280.25,197.32,259.76,194.52,241Z"/>
                  <path id="C" style="fill:#89b292" (click)="setActive('C', 'C')" [ngClass]="{ 'active': activeArea == 'C' }"  d="M193.9,236.47c-2-16.51-.52-34,9.06-51.4-.67-3.2-2.43-10.84-.09-15.3l-.14,0c-2.16-5.47-5.86-14.47-9.61-18.88,2.11-3,8.91-8.69,14.6-12.09,1.24-.74,3.35.35,5.12.74-1.25-7.38-6.07-18.87-6.46-18.71a25.12,25.12,0,0,1,3.15-12.3c-12.47-5.55-31.41-6.36-42.9-17.74-10.1,19.33-40,13-43,0-8.72,9.2-27.95,12.83-42.23,17.42a31.33,31.33,0,0,1,3.22,12.58c-.39-.16-5.21,11.33-6.46,18.71,1.84-.27,3.62-1.11,5.38-.71,1.23,1.61,10.31,7.71,14.23,12a87.16,87.16,0,0,0-9.5,19c0,.05-.09,0-.14,0,1.88,4.68.51,10.55-.64,15.3,10,18.25,11.74,39.78,8.56,56.72,51.49-53.22,63.84-26.08,98.57,0C194.35,240,194.11,238.21,193.9,236.47Z"/>
                  <path id="B" style="fill:#46add8" (click)="setActive('B', 'B')" [ngClass]="{ 'active': activeArea == 'B' }"  d="M168.67,68.44c-21.53,12.71-46.85,0-46.85,0,4.77,7.63,3.12,19.79,1.81,22.43-1,2,8.27,13,21.13,12.69,14.06-.36,22.06-11.79,21.88-12.67C165.37,84.81,164.17,76.12,168.67,68.44Z"/>
                  <path id="A" style="fill:#726ba1" (click)="setActive('A', 'A')" [ngClass]="{ 'active': activeArea == 'A' }"  d="M168.67,68.44c.86-2.7,2.09-5.64,2.62-8.24,6.54,9,11-26.81,1.67-14.46C177.13,14.05,171.13,2.05,145.23,0h0c-30.13,1.77-31.12,19.15-27.73,45.74-9.71-12-4.29,24.18,1.67,14.46a80.17,80.17,0,0,0,2.66,8.24c.91,2.81,11.56,15.71,23.6,15.47S167.75,71.33,168.67,68.44Z"/>
                </g>
              </g>
            </svg>
          
  </ion-col>
<ion-col size="12">
  <ion-row *ngIf="showSubArea">
    <span>
      <img
        class="img-slider"
        src="./assets/images/green-emoti.png"
        alt=""
        srcset=""
      />
    </span>
    <span style="padding-top: 0.8rem;">1</span>
    <!-- <mat-slider
      style="width: 75%"
      step="1"
      min="1"
      max="10"
      [(ngModel)]="painIntensity"
      tickInterval="1"
      thumbLabel
    ></mat-slider> -->
    <ion-item style="width: 80%">
      <ion-range pin="true" min="0" max="10" [(ngModel)]="painIntensity" (ionChange)="sliderValueChanged($event)" snaps>
      </ion-range>
    </ion-item>
    <span style="padding-top: 0.8rem;">10</span>
    <span>
      <img
        class="img-slider"
        src="./assets/images/red-emoti.png"
        alt=""
        srcset=""
      />
    </span>
  </ion-row>
</ion-col>

<ion-col>
  <ion-row>
      <ion-button
      [disabled]="!showSubArea"
      (click)="loadNextPage()"
      class=" btn btn-sm px-5 btn-success"
      style="float: right;margin-right: 15%;margin-top: 5%"
    >
      Next
    </ion-button>
  </ion-row>
</ion-col>
</ion-grid>
</ion-content>
