<ion-header>
  <ion-toolbar>
    <ion-title>ChiefComplaintDetection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-12 mt-5 pb-3">
    <div class="row">
      <p class="text-center">Select your Posture type</p>
    </div>
    <ng-template #viewContainerRef></ng-template>
    </div>
  <ion-col>
    <ion-row>
        <ion-button
        (click)="createChiefComplaint()"
        class=" btn btn-sm px-5 btn-success"
        style="float: right;margin-right: 15%;margin-top: 5%"
      >
      Add your chief complain
      </ion-button>
    </ion-row>
  </ion-col>
</ion-content>
