<ion-content>
  <form [formGroup]="formGroup">
    <mat-radio-group formControlName="radioButton">
      <mat-radio-button *ngFor="let item of values; let indx=index" [value]="item">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group formControlName="radioButton2">
      <mat-radio-button *ngFor="let item of values2; let indx=index" [value]="item">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group formControlName="radioButton3">
      <mat-radio-button value="none" (click)="reset()">
        Select None
      </mat-radio-button>
    </mat-radio-group>
    <button (click)="login()">Click</button>
  </form>
</ion-content>