<ion-content>
  <!-- <ion-button (click)="openModal()">open modal</ion-button> -->
  <div class="hasBG  d-none d-md-block"></div>
  <div class="d-flex  heightRemoveHeader p-5">
    <ion-col>
      <div class="">
        <ion-row>
          <ion-col>
            <div class="cardMat gray-txt">
              <ion-header class="gray-txt mb-1">Exercise Feedback</ion-header>
              <div class="d-flex justify-content-start mb-4">
                <div class="themeLine100 w-25"></div>
              </div>
              <div class="surveyJS">
                <ion-col>

                  <h5>is your mobility restricted?</h5>
                  <form [formGroup]="formGroup">
                  <ion-radio-group formControlName="radioButton3">
                    <ion-list>
                      <ion-item>
                        <ion-radio (click)="toggleRestrictionMode('Yes')" value="Yes"></ion-radio>
                        <ion-label>Yes</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-radio (click)="toggleRestrictionMode('No');reset()" value="{{ noneId ? noneId.value: '0' }}"></ion-radio>
                        <ion-label>No</ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-radio-group>
                
                   <div *ngIf="isRestrictedMode" id="optionDiv">
                  <h5>where is your mobility restricted?</h5>
                  <h6>(You can select max two answer)</h6>
                  <div *ngIf="isRestrictedMode && isSubmitted" class="alert alert-danger" role="alert">
                    Please Select option
                  </div>
                    <mat-radio-group formControlName="radioButton">
                      <mat-radio-button *ngFor="let que of choices  | slice:0:2; let i = index" [value]="que.value">
                        {{que.text}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group formControlName="radioButton2">
                      <mat-radio-button *ngFor="let que of choices | slice:2:4; let i = index" [value]="que.value">
                        {{que.text}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group formControlName="radioButton3">
                      <mat-radio-button  value="{{ noneId ? noneId.value : '0' }}" (click)="reset()">
                        {{noneId ? noneId.text : ""}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  </form>
                </ion-col>
              </div>
                <ion-button class="btn btn-primary themeBtn" type="button" (click)="getResponse()">Complete</ion-button>
              </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </div>
  <!-- <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"> </span>
      </div>
    </div>
  </div>
<div  class="surveyElement" id='surveyJsElement' style="overflow-y: auto;" ></div>
<ion-button *ngIf="!surveyJsonData" (click)="backToPmExercise()">skip</ion-button> -->

</ion-content>