
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  --background: #007bff;
  --background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 0rem;
}
.form-label-group-password {
  border-radius: 2rem;
  margin: 10px 20px;
  border: 1px solid #999999;
  max-height: 40px;
}

.form-label-group ion-input {
  border-radius: 2rem;
}

/* .form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  
} */

.form-label-group>ion-label {
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  --color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
#inputPassword {
 border: none !important ;
}




.btn-google {
  --color: white;
  background-color: #ea4335;
}

.btn-facebook {
  --color: white;
  background-color: #3b5998;
}
.btn-new-user {
  --color: white;
  background-color: #fbbd3b;
}
.form-control{
  text-align: center;
}
.btn-primary {
  --color: white;
  --background-color: #4185f4;
}
ion-input{
    border: 1px solid #999999 !important;
    border-radius:  25px;
    margin: 15px 0;
    background: #ffff;
  


}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  
}
ion-button{
  border: 1px solid !important;
    border-radius:  25px;
    margin: 15px 0;
    width: 100%;
    min-height: 50px;
  
}
ion-item{
  background-color: transparent;

}
ion-card{

-webkit-box-shadow: 1px 2px 59px -11px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 1px 2px 59px -11px rgba(0,0,0,0.75)!important;
box-shadow: 1px 2px 59px -11px rgba(0,0,0,0.75)!important;
}
.toolbar{
  background-color: #3b5998;
}
.passwordIcon{
  font-size:1rem !important;
  position: relative !important;
  top: 12px !important;
  margin: 0 ;
  width: 15px;
}




