<ion-header>
  <ion-toolbar  color="facebook">
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <form [formGroup]="signInForm" class="form-signin">
      <ion-item class="form-label-group" lines="none">
        <ion-label position="stacked">Email address</ion-label>
        <ion-input
          type="email"
          id="inputEmail"
          formControlName="emailId"
          class="form-control"
          placeholder="Email address"
          required
          autofocus
        ></ion-input>
      </ion-item>

      <ion-item class="form-label-group form-label-group-password" lines="none">
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          type="password"
          id="inputPassword"
          style="max-height: 40px; margin: 0%;"
          formControlName="password" 
          [type]="passwordType"
          class="form-control"
          placeholder="Password"
          required
          clearOnEdit="false"

        ></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>


 


      <ion-item lines="none">
        <ion-label>Remember password</ion-label>
        <ion-checkbox
          id="customCheck1"
          slot="start"
          color="primary"
        ></ion-checkbox>
      </ion-item>

      <ion-item lines="none">
        <ion-button
          (click)="signInButtonClicked()"
          shape="round"
          color="tertiary"
          >Sign in</ion-button
        >
      </ion-item>
      <ion-item lines="none">
        <ion-button
          (click)="signUpButtonClicked()"
          shape="round"
          color="gold"
        >
          Create new user</ion-button
        >
      </ion-item>
      <hr style="border:0.1px solid #cdd1d8" />
      <ion-item lines="none"
        ><ion-button shape="round" color="danger"> Google</ion-button></ion-item
      >
      <ion-item lines="none">
        <ion-button shape="round" color="facebook">
          Sign in with Facebook
        </ion-button></ion-item
      >


    </form>
  </ion-card>
</ion-content>






