<ion-header>
  <ion-toolbar>
    <ion-title>medical</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"> </span>
        </div>
      </div>
    </div>
  <div  class="surveyElement" id='surveyElement' style="overflow-y: auto;" ></div>
</ion-content>
