<ion-header>
  <ion-toolbar>
    <ion-title>testExefList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size='12'>
    <ion-row>
        <ion-col>No.</ion-col> 
        <ion-col>complaint Exercise ID</ion-col> 
        <ion-col>Exercise Name</ion-col> 
        <ion-col>MVD</ion-col>
        <ion-col>Action</ion-col>
    </ion-row>
    </ion-col>
    <ion-col size='12' *ngFor="let item of pmTestList ; let i = index" [ngClass]="{'test-done':  i < activePM}">
      <ion-row>
          <ion-col>{{ i + 1 }})</ion-col>  
          <ion-col>{{ item.id }}</ion-col>
          <ion-col>{{ item.exercise.description }}</ion-col>
          <ion-col>{{ item.exercise.mvd }}</ion-col>
          <ion-col> 
            <ion-button class="btn btn-sm btn-secondary" *ngIf="i < activePM " disabled>Done</ion-button>
            <ion-button (click)="getFeedback(item)" class="btn btn-sm btn-primary" *ngIf="activePM == i ">Play</ion-button>
          </ion-col>
      </ion-row>
    </ion-col>
</ion-grid>
 <!---- ///////////////////////////////////////////////////// ---->
 <ion-toolbar>
    <ion-title>SL Test</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-col>
    <ion-row>
        <ion-col>No.</ion-col> 
        <ion-col>complaint Exercise ID</ion-col> 
        <ion-col>Exercise Name</ion-col> 
        <ion-col>MVD</ion-col>
        <ion-col>Action</ion-col>
    </ion-row>
    </ion-col>
    <ion-col size='12' *ngFor="let item of slTestList ; let i = index" [ngClass]="{'test-done':  i < activeSl}">
        <ion-row>
            <ion-col>{{ i + 1 }})</ion-col>  
            <ion-col>{{ item.id }}</ion-col>
            <ion-col>{{ item.exercise.description }}</ion-col>
            <ion-col>{{ item.exercise.mvd }}</ion-col>
            <ion-col>
              <ion-button class="btn btn-sm btn-secondary" *ngIf="i < activeSl " disabled>Done</ion-button>
              <ion-button (click)="getFeedbackSLTest(item)" class="btn btn-sm btn-primary" *ngIf="activeSl == i">Play</ion-button>
            </ion-col>
        </ion-row>
      </ion-col>
  </ion-grid>
  <ion-button type="button" (click)="testCompleted()">Done</ion-button>
</ion-content>


