<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size-md="6" offset-md="3">
         <ion-item>
            <label>Name: &ensp;</label>
            <label>{{ patientObj.firstName + ' ' + patientObj.lastName }} </label>
         </ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-item >
                <label>Email Id: &ensp;</label>
                <label>{{' ' + patientObj.emailId }}</label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <label>Password: &ensp;</label>
              <label>{{ ' ' + patientObj.password }}</label>
            </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-item>
            <label>Mobile:&ensp;</label>
            <label>{{' ' + patientObj.mobileNumber }}</label>
            </ion-item>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-item>
              <label>Date Of Birth: &ensp;</label>
              <label>{{ ' ' +patientObj.dateOfBirth }}</label>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-item>
            <label>Gender: &ensp;</label>
            <label>{{' ' + patientObj.gender }} </label>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-item>
            <label>Height:&ensp;</label>
            <label> {{' ' + patientObj.height }}</label>
            </ion-item>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-button ion-button class="signInBtn" color="primary" full type="button" (click)="logOutButtonClicked()">Log out
              </ion-button>
        </ion-col>
      </ion-row>
</ion-content>
