<ion-header>
  <ion-toolbar>
    <ion-title>IssueType</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card >
        <ion-card-header> 
            <ion-card-title> What brings you hear? </ion-card-title>
        </ion-card-header>
            <ion-card-content> 
                <form [formGroup]="issueTypeForm">
                <ion-item>
                  <input id="improveMe" type="radio" class="custom-control-input" formControlName="issueType" value="IMPROVE_ME" name="issueType"
                  (change)="getSelection()"/>
                  <label for="improveMe">Improve me</label>
                </ion-item>
                <ion-item>
                  <input id="orthoIssue" type="radio" class="custom-control-input" formControlName="issueType" value="ORTHO_ISSUE" name="issueType"
                  (change)="getSelection()"/>
                  <label for="orthoIssue">Ortho issue</label>
                </ion-item>
                <ion-item>
                  <input id="neuroIssue" type="radio" class="custom-control-input" formControlName="issueType" value="NEURO_ISSUE"  name="issueType" 
                   (change)="getSelection()"/>
                   <label for="ChronicPain">Chronic pain</label>
                  </ion-item>
                  <ion-item>
                    <input id="ChronicPain" type="radio" class="custom-control-input" formControlName="issueType" value="CHRONIC_PAIN" name="issueType"
                     (change)="getSelection()"/>
                   <label for="neuroIssue">Neuro issue</label>
                </ion-item> 
                
                </form>
            </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <div class="col-6 text-end">
            <div style="padding: 6% 0"></div>
            <ion-button [disabled]="!showBlock" (click)="loadNextPage()" class=" btn btn-sm px-5 btn-success" style="float: right;margin-right: 15%;margin-top: 5%"> Next
            </ion-button>
            </div>
    </ion-col>
    </ion-row>
</ion-content>
