.input-textfiled {
    border: 1px solid gray;
    border-radius: 5px;
    //border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }