<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="profileForm">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-input placeholder="First Name" type="text" formControlName="firstName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-item>
          <ion-input placeholder="Last Name" type="text" formControlName="lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input placeholder="Email Id" type="email" formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input placeholder="confirm Password" type="password" #confirmPassword></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-datetime placeholder="Select Date" displayFormat="MM DD YY" formControlName="dateOfBirth">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input placeholder="Mobile" type="number" formControlName="mobileNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input placeholder="Weight" type="text" formControlName="weight"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-select value="Gender" interface="gender" formControlName="gender" slot="start">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">

          <ion-item>
            <ion-input placeholder="Height" type="text" formControlName="height"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button type="submit" (click)="SubmitSignUpInfo(this.confirmPassword.value)" class="input-textfiled">
            Submit</ion-button>
          <ion-button type="button" (click)="backToSignIn()">SignIn</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <p>
          </p>
        </ion-col>
      </ion-row>
      <!-- <div responseformArrayName="aliases">
          <h3>Alresponseiases</h3> <button (click)="addAlias()">Add Alias</button>
        
          <div *ngFor="let address of aliases.controls; let i=index">
            <label>
              Alias:
              <input type="text" [formControlName]="i">
            </label>
          </div>
        </div> -->
  </form>
</ion-content>