<ion-header>
  <ion-toolbar>
    <ion-title>SLFeedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div  class="surveyElement" id="surveyElement1" style="overflow-y: auto;" ></div> -->
    <form [formGroup]="formGroup">
      <ion-radio-group formControlName="radioButton">
        <ion-list>
          <ion-item *ngFor="let que of choices; let i = index">
            <ion-radio (click)="toggleRestrictionMode(que.value)" value="{{ que ? que.value: '0' }}"></ion-radio>
            <ion-label>{{ que.text }}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button class="btn btn-primary themeBtn" type="button" (click)="getResponse()">Complete</ion-button>
      </ion-radio-group>
    </form>
</ion-content>
