<ion-header>
  <ion-toolbar>
    <ion-title>IntroVideo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
  class="modal fade"
  id="modelId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="popupBox">
        <div class="backdrop"></div>
        <div
          class="popupBoxHeader cardMat pb-5 pt-3 h3 themeBG text-white d-flex align-items-center justify-content-between mr-5"
        >
          <h3>Exercise</h3>
        </div>
        <div class="popupBoxBody cardMat" *ngIf="playVideo">
          <ion-row>
            <ion-col>
              <ion-col>
                <h4>Introduction Video</h4>
              </ion-col>
              <video
                *ngIf="videoUrl"
                autoplay="true"
                id="myVideo"
                style="width: 100%"
                controls="controls"
                #video
              >
                <!-- replace source with `videoUrl` -->

                <source src="https://aktive-health.s3.ap-south-1.amazonaws.com/assets/videos/b/SampleInputVideo/SampleExerciseVideo.mp4" type="video/mp4">

                Your browser does not support HTML5 video.
              </video>
            </ion-col>
            <ion-col>
              <ion-row>               
                <ion-col>
                  Sets to Done :
                  {{
                    activeExec.progressionSets ||
                      activeExec.exercise.setMin ||
                      0
                  }}
                </ion-col>
                <ion-col>
                  Reps to Done :
                  {{
                    activeExec.progressionReps ||
                      activeExec.exercise.repMin ||
                      0
                  }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h5>DO's</h5>
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                  </ul>
                </ion-col>
                <ion-col>
                  <h5>Dont's</h5>
                  <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                  </ul>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <div
            class="d-flex justify-content-end align-items-end mb-3 flex-sm-column flex-lg-row"
          >
          <ion-button
          *ngIf="!isInsertExec"
          class="btn btn-primary themeBtn"
          type="button"
          data-dismiss="modal"
          (click)="skipExercise(activeExec);videoUrl = null"
        >
          Skip exercise
          </ion-button>
            <ion-button
              class="btn btn-primary themeBtn"
              type="button"
              data-dismiss="modal"
              (click)="executeExercise(activeExec, isInsertExec); videoUrl = false">
              Start exercise
            </ion-button>
          </div>
        </div>
      </div>

      <!-- <div class="modal-header">
  <h5 class="modal-title">Exercise</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
    </div>
  </div>
</div>
</ion-content>
