<ion-header>
  <ion-toolbar>
    <ion-title>videoDisplay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-video-player [src]="videoSrcPath" (isEnded)="execDone()"></app-video-player> -->
  <!-- <video id="myVideo" style="width: 100%" controls="controls" #video>
    <source src=" ../../../../../assets/videos/Brad Exircise 2 Full.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <ion-button [disabled]="!isVideoEnded" (click)="Done()"  >Done</ion-button> -->

  <ion-col>
      <ion-row>
        <ion-col>
            <div class="videoPlayer">
              <video autoplay="false" id="myVideo" style="width: 100%" controls="controls" #video>
                <source src="{{src}}" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>

            <div class="d-flex justify-content-end align-items-end mb-3 flex-sm-column flex-lg-row">
              <p class="align-self-end m-0">Sets to Done: {{exercise.progressionSets || exercise.exercise.setMin || 1}}</p> &nbsp;
              <p class="align-self-end m-0">Reps to Done: {{ exercise.progressionReps || exercise.exercise.repMin || 0}}</p> &nbsp;
              <p class="align-self-end m-0 mr-4 ml-5">Having Trouble? <span class="text-primary font-weight-bold cp">Click
                  Here!</span></p>
              <ion-button class="btn btn-primary themeBtn" type="button" (click)="getFeedback()">Done</ion-button>
            </div>
        </ion-col>
      </ion-row>
  </ion-col>

</ion-content>
