<ion-header>
  <ion-toolbar>
    <ion-title>ExefFeedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="surveyElement" id="surveyElement3" style="overflow-y: auto;" ></div>
  <ion-label #bold >feedback Page</ion-label>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"> </span>
        </div>
      </div>
    </div>
  <div  class="surveyElement" id='surveyJsElementForFB' style="overflow-y: auto;" ></div>
  <ion-button (click)="moveBackToList()" >Exercise List</ion-button>
    <!-- <ion-col size='12'>
      <ion-row>
          <ion-header>Exercise Feedback</ion-header>
          <form [formGroup]="firstFormGroup">
              <ion-radio-group formControlName="firstQueRadioControl">
                   <ion-list>
                    <ion-item>
                      <ion-radio value="Yes" (click)="getValue('yes')" ></ion-radio>
                      <ion-label>Yes</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-radio value="{{ 100 }}" (click)="getValue('100')"></ion-radio>
                      <ion-label>No</ion-label>
                    </ion-item>
                  </ion-list> 
                  <mat-radio-button color="primary" value="568">
                      <span>
                        <img
                          class="img"
                          src="https://aktive-health.s3.ap-south-1.amazonaws.com/assets/images/Pain_FB_1.png"
                          alt=""
                          srcset=""
                        />
                      </span>
                    </mat-radio-button>
                    <mat-radio-button color="primary" value="569">
                      <span>
                        <img
                          class="img"
                          src="https://aktive-health.s3.ap-south-1.amazonaws.com/assets/images/Pain_FB_2.png"
                          alt=""
                          srcset=""
                        /> </span
                    ></mat-radio-button>
                    <mat-radio-button color="primary" value="570">
                      <span>
                        <img
                          class="img"
                          src="https://aktive-health.s3.ap-south-1.amazonaws.com/assets/images/Pain_FB_3.png"
                          alt=""
                          srcset=""
                        /> </span
                    ></mat-radio-button>
                </ion-radio-group>
            </form>
      </ion-row>
      </ion-col>
  <ion-button (click)="CheckForSetsAndMove()">Done</ion-button> -->
</ion-content>
