<ion-header>
  <ion-toolbar>
    <ion-title>CommonVideoDisplay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col>
        <ion-row>
          <ion-col>
              <div class="videoPlayer">
                <video autoplay="false" id="myVideo" style="width: 100%" controls="controls" #video>
                  <source src="{{src}}" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </div>
  
              <div class="d-flex justify-content-end align-items-end mb-3 flex-sm-column flex-lg-row">
                <p class="align-self-end m-0 mr-4 ml-5">Having Trouble? <span class="text-primary font-weight-bold cp">Click
                    Here!</span></p>
                  <ion-button (click)="closeModal()">Done</ion-button>
              </div>
          </ion-col>
        </ion-row>
    </ion-col>
  
</ion-content>
