<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <ion-button (click)="registerIssue()"
        class=" btn btn-sm px-5 btn-success"
        style="float: right;margin-right: 15%;margin-top: 5%" >
        Register Issue</ion-button>
   </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-button (click)="profileIssue()"
        class=" btn btn-sm px-5 btn-success"
        style="float: right;margin-right: 15%;margin-top: 5%" >
       profile</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-button (click)="getSessionInfoFromUserId()"
        class=" btn btn-sm px-5 btn-success"
        style="float: right;margin-right: 15%;margin-top: 5%" >
       New Session</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
