<ion-header>
  <ion-toolbar>
    <ion-title>subAreaSelection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-col>
    <ion-row>
      <div class="col-6">
        <maphilight
          style="float:right"
          *ngIf="!this.refresh"
          id="subarea1"
          [config]="config"
        >
          <img
            src="./assets/SVG/sub.png"
            id="subArea"
            width="240"
            height="300"
            usemap="#subarea1"
          />
  
          <map name="subarea1">
            <area
              class="d-none"
              (click)="onSubAreaClicked(1, false)"
              *ngIf="subAreaList[0].status"
              alt="1"
              target="1"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              shape="poly"
              coords="59,30,70,34,85,36,111,36,134,34,150,30,158,25,159,25,147,21,123,18,91,19,73,24,64,27,59,30"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(1, true)"
              *ngIf="!subAreaList[0].status"
              alt="1"
              target="1"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="59,30,70,34,85,36,111,36,134,34,150,30,158,25,159,25,147,21,123,18,91,19,73,24,64,27,59,30"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(2, false)"
              *ngIf="subAreaList[1].status"
              alt="2"
              target="2"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="101,40,99,95,114,98,122,104,126,109,126,112,155,110,158,90,164,84,145,35,125,38,113,39,111,39,101,40"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(2, true)"
              *ngIf="!subAreaList[1].status"
              alt="2"
              target="2"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="101,40,99,95,114,98,122,104,126,109,126,112,155,110,158,90,164,84,145,35,125,38,113,39,111,39,101,40"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(3, false)"
              *ngIf="subAreaList[2].status"
              alt="3"
              target="3"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="149,34,167,79,177,72,192,68,201,66,198,54,189,42,177,32,167,27,158,32,149,34"
              nohref="nohref"
            />
            <area class="d-none" (click)="onSubAreaClicked(3, true)" *ngIf="!subAreaList[2].status" alt="3" target="3"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="149,34,167,79,177,72,192,68,201,66,198,54,189,42,177,32,167,27,158,32,149,34"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(4, false)"
              *ngIf="subAreaList[3].status"
              alt="4"
              target="4"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="202,71,183,75,168,83,160,96,158,113,174,120,182,122,197,117,205,109,204,98,207,84,205,74, 202,71"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(4, true)"
              *ngIf="!subAreaList[3].status"
              alt="4"
              target="4"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="202,71,183,75,168,83,160,96,158,113,174,120,182,122,197,117,205,109,204,98,207,84,205,74, 202,71"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(5, false)"
              *ngIf="subAreaList[4].status"
              alt="5"
              target="5"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="71,133,71,141,78,152,89,160,106,164,120,162,134,155,135,149,135,144,125,136,121,115,109,103,94,101,82,108,72,118,71,125,71,133"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(5, true)"
              *ngIf="!subAreaList[4].status"
              alt="5"
              target="5"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="71,133,71,141,78,152,89,160,106,164,120,162,134,155,135,149,135,144,125,136,121,115,109,103,94,101,82,108,72,118,71,125,71,133"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(6, false)"
              *ngIf="subAreaList[5].status"
              alt="6"
              target="6"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="128,118,129,130,140,139,141,153,133,161,122,165,127,195,148,206,178,213,207,214,212,209,215,203,211,193,209,189,210,187,182,184,157,175,157,171,169,151,189,157,214,159,215,152,218,148,225,146,227,145,228,140,225,135,208,112,197,121,185,124,176,125,156,114,128,118"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(6, true)"
              *ngIf="!subAreaList[5].status"
              alt="6"
              target="6"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="128,118,129,130,140,139,141,153,133,161,122,165,127,195,148,206,178,213,207,214,212,209,215,203,211,193,209,189,210,187,182,184,157,175,157,171,169,151,189,157,214,159,215,152,218,148,225,146,227,145,228,140,225,135,208,112,197,121,185,124,176,125,156,114,128,118"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(7, false)"
              *ngIf="subAreaList[6].status"
              alt="7"
              target="7"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="98,166,118,166,120,190,128,202,149,210,172,217,201,219,183,223,169,228,164,232,157,255,152,271,152,284,153,287,117,285,97,280,98,166"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(7, true)"
              *ngIf="!subAreaList[6].status"
              alt="7"
              target="7"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="98,166,118,166,120,190,128,202,149,210,172,217,201,219,183,223,169,228,164,232,157,255,152,271,152,284,153,287,117,285,97,280,98,166"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(8, false)"
              *ngIf="subAreaList[7].status"
              alt="8"
              target="8"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="93,168,90,284,54,276,27,265,37,250,42,232,43,192,38,171,33,158,45,161,81,162,93,168"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(8, true)"
              *ngIf="!subAreaList[7].status"
              alt="8"
              target="8"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="93,168,90,284,54,276,27,265,37,250,42,232,43,192,38,171,33,158,45,161,81,162,93,168"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(9, false)"
              *ngIf="subAreaList[8].status"
              alt="9"
              target="9"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="95,40,93,97,79,102,70,112,65,125,66,142,71,153,72,156,40,155,22,148,12,135,8,108,14,77,30,52,44,38,56,32,63,36,74,40,86,41,95,40"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(9, true)"
              *ngIf="!subAreaList[8].status"
              alt="9"
              target="9"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="95,40,93,97,79,102,70,112,65,125,66,142,71,153,72,156,40,155,22,148,12,135,8,108,14,77,30,52,44,38,56,32,63,36,74,40,86,41,95,40"
              nohref="nohref"
            />
  
            <area
              class="d-none"
              (click)="onSubAreaClicked(10, false)"
              *ngIf="subAreaList[9].status"
              alt="10"
              target="10"
              data-maphilight='{"alwaysOn":true, "strokeColor": "ff0000"}'
              shape="poly"
              coords="171,157,184,161,208,163,216,163,215,168,213,171,214,176,213,181,187,179,161,173,171,157"
              nohref="nohref"
            />
            <area
              class="d-none"
              (click)="onSubAreaClicked(10, true)"
              *ngIf="!subAreaList[9].status"
              alt="10"
              target="10"
              data-maphilight='{"alwaysOn":false}'
              shape="poly"
              coords="171,157,184,161,208,163,216,163,215,168,213,171,214,176,213,181,187,179,161,173,171,157"
              nohref="nohref"
            />
          </map>
        </maphilight>
      </div>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-row>
      <div class="col-6">
        <maphilight *ngIf="!this.refresh2" id="subarea2" [config]="config">
          <img
            src="./assets/SVG/sub2.png"
            id="subArea"
            width="260"
            height="300"
            border="0"
            usemap="#subarea2"
          />
  
          <map name="subarea2">
            <area
              (click)="onSubAreaClicked2(1, false)"
              *ngIf="subAreaList[0].status"
              alt="1"
              target="1"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="83,25,88,29,99,32,109,35,126,37,168,38,187,31,165,22,141,19,113,19,90,23"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(1, true)"
              *ngIf="!subAreaList[0].status"
              alt="1"
              target="1"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="83,25,88,29,99,32,109,35,126,37,168,38,187,31,165,22,141,19,113,19,90,23"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(2, false)"
              *ngIf="subAreaList[1].status"
              alt="2"
              target="2"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="98,36,118,40,143,41,144,97,129,102,118,112,117,115,87,114,84,94,79,86"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(2, true)"
              *ngIf="!subAreaList[1].status"
              alt="2"
              target="2"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="98,36,118,40,143,41,144,97,129,102,118,112,117,115,87,114,84,94,79,86"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(3, false)"
              *ngIf="subAreaList[2].status"
              alt="3"
              target="3"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="76,27,54,42,42,59,40,69,57,72,75,82,94,36,83,32"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(3, true)"
              *ngIf="!subAreaList[2].status"
              alt="3"
              target="3"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="76,27,54,42,42,59,40,69,57,72,75,82,94,36,83,32"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(4, false)"
              *ngIf="subAreaList[3].status"
              alt="4"
              target="4"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="37,74,34,96,37,107,36,112,50,123,67,127,83,117,82,99,74,86,60,77,45,73"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(4, true)"
              *ngIf="!subAreaList[3].status"
              alt="4"
              target="4"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="37,74,34,96,37,107,36,112,50,123,67,127,83,117,82,99,74,86,60,77,45,73"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(5, false)"
              *ngIf="subAreaList[4].status"
              alt="5"
              target="5"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="119,140,123,116,136,107,150,106,165,111,172,126,174,144,165,159,144,168,126,168,108,159,108,150"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(5, true)"
              *ngIf="!subAreaList[4].status"
              alt="5"
              target="5"
              data-maphilight='{"alwaysOn": false}'
              class="d-none"
              shape="poly"
              coords="119,140,123,116,136,107,150,106,165,111,172,126,174,144,165,159,144,168,126,168,108,159,108,150"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(6, false)"
              *ngIf="subAreaList[5].status"
              alt="6"
              target="6"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="122,170,116,201,96,213,63,220,31,220,28,215,26,212,27,206,29,201,31,197,31,193,55,190,86,181,74,157,38,163,26,163,25,156,19,151,14,148,13,141,33,116,47,125,60,130,71,128,85,119,114,122,113,136,103,143,101,158,112,166"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(6, true)"
              *ngIf="!subAreaList[5].status"
              alt="6"
              target="6"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="122,170,116,201,96,213,63,220,31,220,28,215,26,212,27,206,29,201,31,197,31,193,55,190,86,181,74,157,38,163,26,163,25,156,19,151,14,148,13,141,33,116,47,125,60,130,71,128,85,119,114,122,113,136,103,143,101,158,112,166"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(7, false)"
              *ngIf="subAreaList[6].status"
              alt="7"
              target="7"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="126,171,146,172,147,289,125,294,89,297,90,274,80,246,77,237,63,231,44,228,40,226,72,223,104,214,119,206,124,195,125,173"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(7, true)"
              *ngIf="!subAreaList[6].status"
              alt="7"
              target="7"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="126,171,146,172,147,289,125,294,89,297,90,274,80,246,77,237,63,231,44,228,40,226,72,223,104,214,119,206,124,195,125,173"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(8, false)"
              *ngIf="subAreaList[7].status"
              alt="8"
              target="8"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="151,173,154,293,203,282,219,274,209,258,202,225,205,191,213,163,193,167,164,168"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(8, true)"
              *ngIf="!subAreaList[7].status"
              alt="8"
              target="8"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="151,173,154,293,203,282,219,274,209,258,202,225,205,191,213,163,193,167,164,168"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(9, false)"
              *ngIf="subAreaList[8].status"
              alt="9"
              target="9"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="149,43,151,102,161,103,172,112,180,128,179,147,172,160,211,159,226,152,237,133,238,98,230,72,213,50,191,33,178,39,165,43"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(9, true)"
              *ngIf="!subAreaList[8].status"
              alt="9"
              target="9"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="149,43,151,102,161,103,172,112,180,128,179,147,172,160,211,159,226,152,237,133,238,98,230,72,213,50,191,33,178,39,165,43"
              nohref="nohref"
            />
  
            <area
              (click)="onSubAreaClicked2(10, false)"
              *ngIf="subAreaList[9].status"
              alt="10"
              target="10"
              data-maphilight='{"alwaysOn":true,"strokeColor": "ff0000"}'
              class="d-none"
              shape="poly"
              coords="24,169,58,167,71,162,79,177,73,181,58,184,41,186,29,187,26,184,26,180,28,176"
              nohref="nohref"
            />
            <area
              (click)="onSubAreaClicked2(10, true)"
              *ngIf="!subAreaList[9].status"
              alt="10"
              target="10"
              data-maphilight='{"alwaysOn":false}'
              class="d-none"
              shape="poly"
              coords="24,169,58,167,71,162,79,177,73,181,58,184,41,186,29,187,26,184,26,180,28,176"
              nohref="nohref"
            />
          </map>
        </maphilight>
      </div>
    </ion-row>
  </ion-col> -->
  <ion-col>
    <ion-row>
      <div class="back">
        <svg (click)="selectState($event)"  style="height:570px; width:250px; border-style : groove" id="back_subarea" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 233.38 619.36">
          <defs>
            <style>
              .grey {
                fill: #616060;
                stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 0.7px;
              }
            </style>
          </defs>
          <title>Back_SubArea_Clean</title>
          <path id="L_39" class="grey" d="M263.72,438.06l-14.65,96.35a106.18,106.18,0,0,1,20.23,3.67c6.7-34.59,19.13-100,19.13-100Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_39" class="grey" d="M356.72,438.06,345.6,540.23s-12.87-.6-15.53-.44c.83-36.33.44-104.38.44-104.38Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_37" class="grey" d="M270.41,538.42,290.9,438.06l18,1.23s-19.6,86.56-30.54,101.92A43.68,43.68,0,0,0,270.41,538.42Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_37" class="grey" d="M328.75,539.79l.71-104.15H313.14s1.93,60.74,3.52,103.71C321.16,539.18,328.75,539.79,328.75,539.79Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_38" class="grey" d="M355.66,541.21l-8.89-.92,10.92-102.23,13.5,1.19S366.51,507.23,355.66,541.21Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_38" class="grey" d="M239.19,534.41h8.29l14.65-96.53-11.47-1.26S236.72,502.29,239.19,534.41Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_16" class="grey" d="M205.54,267.53s.47,28-6.11,40.12-5.77,31.17-5.77,31.17,16.12-3.88,26.12,6.36c9.65-24.24,18.35-53.93,14.35-71.79C218.49,270.2,205.54,267.53,205.54,267.53Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_16" class="grey" d="M389.75,275.8s.95,15.76,5.93,28.14c5.95,14.82,5.55,31.86,5.55,31.86s-19.19,1.32-25.63,7.93C362.48,320,358,294.68,362,276.82,374.72,276,389.75,275.8,389.75,275.8Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_15" class="grey" d="M268.15,234l-7,48.25s-21.76,1.18-24-2.47c-1.89-5.2-4.35-7.41-7.65-8s-19.88-2-23.53-4.35c4.59-25.06,7.05-37.94,29.29-47.91C250.33,226.29,268.15,234,268.15,234Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_15" class="grey" d="M389.78,275.76s-24.94,0-27.77,1.06-3.29,8.24-8.11,10.24-20.71,1.53-20.71,1.53l-8.47-54.18L352.89,223s23.59,6.41,29.95,22.18A102.38,102.38,0,0,1,389.78,275.76Z" transform="translate(-180.76 -111.03)"/>
          <g id="head">
            <path class="grey" d="M275.28,174.17s-15.33-21.24-8.19-38.73c13.29-9.73,29.2-3.37,34.76.93a111.75,111.75,0,0,0,2.47,33.31C295.83,172.64,282.26,174.54,275.28,174.17Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M310.81,122.06s-2.77-9.86-13.12-10.61a25.44,25.44,0,0,0-12.27,2.26c-13.34,6.15-18.33,21.73-18.33,21.73,7.14-5.34,20.34-8.82,34.76.93C301.5,128.24,306.09,122.87,310.81,122.06Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M297.69,111.45s14.78-2.25,25.83,9.3,12.82,21.71,13.32,27.88c-1.43,2.07-2.9,4.39-3.28,5a54.72,54.72,0,0,0,2.2,12.72s-6.41-4.44-6.41-11.83c-3-2.76-4.25-2.21-4.25-2.21s2.32-7.52,1.35-13.7c-1.29-8.24-7.41-17.58-15.64-16.51C309.18,118.71,306.52,112,297.69,111.45Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M304.32,169.68s4,27.93,15.12,32.92c-21.2-1-29.78-.79-44-1.08,0,0,2.6-22-.2-27.57C279.36,174.33,297.69,172.57,304.32,169.68Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M313.82,164.81s2.88,9.5,5.41,15.35a37.78,37.78,0,0,0-1.28,5.16,26.86,26.86,0,0,0,1.82,10c-3.91-1-6.71-1.67-8.45-2a89.71,89.71,0,0,1-7-23.67A47.19,47.19,0,0,0,313.82,164.81Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M321.35,146.69s-11,3.06-7.53,18.12c1.43,4.48,3.57,11.52,5.41,15.35a56.1,56.1,0,0,1,3.4-4.71V167s-5.66-2.9-4.29-9.2a7.92,7.92,0,0,1,4.4-.07Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M322.63,170.61s5.4,1.47,6.35-1.87c1.27-4.4-3.92-12.64-6.51-13.2l.27,2.16a7,7,0,0,0-4.4.07c-.24,2.47-1,5.75,4.29,9.2Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M319.23,180.16s3.24,9.35,8,12.34a22.06,22.06,0,0,1-1.79,2.81h-5.7a24.1,24.1,0,0,1-1.82-9.84C318.4,183.13,319.23,180.16,319.23,180.16Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M327.35,170.61l-.09,6.81-4.45,10.17a76.37,76.37,0,0,1-3.58-7.43c1.34-2,3.4-4.71,3.4-4.71v-4.84A10.31,10.31,0,0,0,327.35,170.61Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M332.19,177.49s-1.86,10.52-4.93,15a14.27,14.27,0,0,1-4.45-4.91l4.45-10.17Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M335.76,166.31l-3.57,11.18-4.93-.07.09-6.81s4.43-1.45-.37-10.2c-2.46-4.47-4.51-4.87-4.51-4.87l-1.12-8.85s-11.09,3.45-7.53,18.12c-3.19,2-7.22,4.24-9.5,4.87-1.59-7.66-3.65-20.57-2.47-33.31-.51-8,4.93-14.37,9.5-14.36s10.32,1.79,14.3,13.13c2.57,7.3-.55,17.13-.55,17.13s1.3-.54,4.25,2.21C329.44,156.44,329.56,161.3,335.76,166.31Z" transform="translate(-180.76 -111.03)"/>
            <path class="grey" d="M319.77,195.31l-.33,7.29c-3.55-1.67-6.55-5.73-8.12-9.25C316.05,194.21,319.77,195.31,319.77,195.31Z" transform="translate(-180.76 -111.03)"/>
          </g>
          <path id="L_34_back" class="grey" d="M252.48,387.41s4.07-35-3.76-53.65l42.79,2,1.8,50Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_34_back" class="grey" d="M351.43,332.82s-4.24,24.83,11.05,50.36l-53.1,2.6-3.13-50,38.82-1.68Z" transform="translate(-180.76 -111.03)"/>
          <path class="grey" d="M362.52,383.18l6.71,40.25S335.91,436,320.54,447.1c.47-19.61-5.2-61.33-5.2-61.33C328.42,384.47,345.48,384.49,362.52,383.18Z" transform="translate(-180.76 -111.03)"/>
          <polygon class="grey" points="110.74 224.78 112.55 274.76 128.62 274.76 125.49 224.78 110.74 224.78"/>
          <path class="grey" d="M252.48,387.41l-1.82,40.77s34.59,8.47,51.18,17.64c-2.83-19.41-3.3-60-3.3-60C285.4,386.06,269.55,386.66,252.48,387.41Z" transform="translate(-180.76 -111.03)"/>
          <polygon class="grey" points="112.55 274.76 114.2 331.44 132.82 331.44 129.19 274.76 112.55 274.76"/>
          <path id="L_31" class="grey" d="M235.3,219.5s32.51-3.79,40.18-18.08c4.62,0,13.47.29,13.47.29l.49,33.13s-16.81.53-20.6-.62S235.3,219.5,235.3,219.5Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_31" class="grey" d="M352.89,223s-20.37-6.39-33.45-20.4c-7.72-.37-20.2-.79-20.2-.79l1.37,33s20.32.72,24.11-.43S352.89,223,352.89,223Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_32" class="grey" d="M246.36,282.19v17.69l44.46-2-1.38-63.07s-14.61.13-17-.11a32.92,32.92,0,0,1-4.3-.75l-7,48.25S249.77,282.59,246.36,282.19Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_32" class="grey" d="M347.78,288.23l-.59,10.95-42.82-1.27-3.76-63.07s17.13.37,19.5.12,4.61-.55,4.61-.55l8.47,54.18S344.37,288.63,347.78,288.23Z" transform="translate(-180.76 -111.03)"/>
          <polygon id="L_33" class="grey" points="65.6 188.85 67.96 222.74 110.74 224.78 110.06 186.88 65.6 188.85"/>
          <polygon id="R_33" class="grey" points="123.6 186.88 125.49 224.78 164.31 223.09 166.43 188.15 123.6 186.88"/>
          <path id="L_35" class="grey" d="M304.13,453.68s-30.11,19.26-48-14.83c-16.85-32.12,15.3-51.79,15.3-51.79s23.39-3.18,29,.44C301.57,406.47,304.13,453.68,304.13,453.68Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_35" class="grey" d="M314.1,450.15s37.09,23.45,50.9-12.47c16.69-43.39-21.43-52.92-21.43-52.92-7.35-1-27.87.71-33.61,1C311,405.32,314.1,450.15,314.1,450.15Z" transform="translate(-180.76 -111.03)"/>
          <path id="_58" data-name="58" class="grey" d="M289.44,171.28v6.93H296a44.87,44.87,0,0,0-2.12-8.06C293,168.51,289.54,168.07,289.44,171.28Z" transform="translate(-180.76 -111.03)"/>
          <path id="_59" data-name="59" class="grey" d="M289.44,178.21H296l1.67,12.44-8.74.79Z" transform="translate(-180.76 -111.03)"/>
          <polygon id="_60" data-name="60" class="grey" points="108.18 80.31 116.92 79.51 118.47 90.67 108.18 90.67 108.18 80.31"/>
          <polygon id="_61" data-name="61" class="grey" points="108.19 90.68 108.68 123.81 119.85 123.81 118.48 90.78 108.19 90.68"/>
          <polygon id="_62" data-name="62" class="grey" points="110.06 186.88 123.6 186.88 119.85 123.81 108.68 123.81 110.06 186.88"/>
          <polygon id="_63" data-name="63" class="grey" points="110.06 186.88 110.74 224.78 125.49 224.78 123.6 186.88 110.06 186.88"/>
          <ellipse id="_64" data-name="64" class="grey" cx="123.06" cy="249.77" rx="32.4" ry="24.99"/>
          <path id="L_34" class="grey" d="M260.47,351s7.19-16.81,13.23-15.19c6.61,1.78,2.37,14.27-3.45,28.21a87.53,87.53,0,0,1-14.39,23.25l-3.38.13s1.27-12.88,1.06-21.61C254.94,362.62,258.23,356.48,260.47,351Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_34" class="grey" d="M347.78,349.29s-7-15.92-13.23-15.18-2.36,13.24,3.46,27.18a72.43,72.43,0,0,0,14.61,22.37l4.63-.23S361.78,379.88,347.78,349.29Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_20" class="grey" d="M185.78,367.06l7.88-28.24a17.13,17.13,0,0,1,5.54-.68c-2,10.21-6,32.17-6,32.17A51.71,51.71,0,0,1,185.78,367.06Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_19" class="grey" d="M201.78,338.14c-2.38,9.86-4.45,20.89-6.35,32.57a40,40,0,0,0,10.47,1.82c1.71-11.62,3.57-22.62,5.65-32.64A19.83,19.83,0,0,0,201.78,338.14Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_18" class="grey" d="M214.38,341.16c-2.17,9.74-4,20.28-5.59,31.37,2,.42,6.16.53,7.75-.15-.23-7.76.89-24.62,3.24-27.2A19.87,19.87,0,0,0,214.38,341.16Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_20" class="grey" d="M409.84,366.91l-8.61-31.11s-2.71.27-5.15.58c2,10.21,6.26,33,6.26,33Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_19" class="grey" d="M393.64,336.81l6.7,32.89a46.1,46.1,0,0,1-11.41.87l-5-31.46A52.69,52.69,0,0,1,393.64,336.81Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_18" class="grey" d="M381.76,339.93l4.82,30.62s-6.47-.35-7.88-.58c.23-7.77-.74-23.65-3.1-26.24A19.56,19.56,0,0,1,381.76,339.93Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_22" class="grey" d="M185.78,368.88l.7,60.65h4.59l1.8-57.65A53.13,53.13,0,0,1,185.78,368.88Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_23" class="grey" d="M195.43,372.18l-2.94,57.35h8.11s5.18-53.65,5.18-55.18A45.32,45.32,0,0,1,195.43,372.18Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_24" class="grey" d="M208.31,374.55s-3.44,23.13-6.18,55c2.87.06,3.79-.16,3.65,0,0,0,7.32-51.59,10.5-55.35A51.18,51.18,0,0,1,208.31,374.55Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_22" class="grey" d="M410.09,367.91l-1.68,60.76h-4.59c.07-21.33-.25-41.3-1.41-58.24Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_23" class="grey" d="M400.76,371a466.63,466.63,0,0,1,1.65,57.65h-8.12c.64,0-4.4-50.91-5.36-56.83A52.82,52.82,0,0,0,400.76,371Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_24" class="grey" d="M386.58,371.66a450.71,450.71,0,0,1,5.48,57,10.33,10.33,0,0,1-2.94,0S382,374.79,378.87,371C383.06,371.48,386.58,371.66,386.58,371.66Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_71" class="grey" d="M225.65,271.25c-4.34-9.49,3.85-48.95,22.13-44.9,10,2.59,4.23,35.88-11.77,46.47A90.48,90.48,0,0,1,225.65,271.25Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_71" class="grey" d="M371.31,279.23c5.88-10.47-5.88-49.11-21.35-45.25-10,2.59-4,35.55,12,46.14C368.63,283.47,371.31,279.23,371.31,279.23Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_70" class="grey" d="M219.56,230s9.4.23,3.51,18.59-10.73,20.74-10.73,20.74L206,267.41S210.26,237.34,219.56,230Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_70" class="grey" d="M377.53,237.08s-10.69-1.37-4.81,15.51,11.06,23.21,11.06,23.21l6,0s-.66-8.78-5-25.34C382.43,241.53,377.53,237.08,377.53,237.08Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_12" class="grey" d="M236.77,278.68l.31,31.08s9.52,12.95,11.64,24c-2.36-33.88-2.94-51.34-2.94-51.34S236.94,281.49,236.77,278.68Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_12" class="grey" d="M345.07,334.12l6.36-1.3s6.23-19.23,7.64-28.64,1.05-25.41,1.05-25.41-2.26,5.83-5.18,7.74-7.16,1.72-7.16,1.72Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_69" class="grey" d="M226.71,224.11s3.08,9.54,10.37,5.18-1.78-9.79-1.78-9.79S229.57,221.84,226.71,224.11Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_69" class="grey" d="M352.89,223s-8.05,5.51-2.43,9.16c8.61,5.59,9-6.91,9-6.91C359.31,225.42,356.35,223.91,352.89,223Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_26" class="grey" d="M186.72,431.76s-7.53,12.29-5.29,26.5c2.87,2.65,9.7,6.33,16.31,8.8,1.23-10.53,4.33-22.28,8.49-34.72Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_26" class="grey" d="M408.18,430.34s7.53,12.28,5.3,26.49c-2.88,2.66-9.71,6.33-16.32,8.8-1.22-10.52-4.33-22.28-8.49-34.71Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_28" class="grey" d="M207.08,434.91s-6.83,22.85-8.12,32.53a6.74,6.74,0,0,0,3.28.77s2.6-9,6.48-9.62c1.65,4.94,2.53,7.94,2.53,7.94s.71,8.54,5.23,7.44c3.62-.88,2.45-3.88,2.45-3.88l-1.21-3.33S215.54,442.47,207.08,434.91Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_28" class="grey" d="M387.82,433.48S394.65,456.34,396,466a6.78,6.78,0,0,1-3.29.77s-2.59-9-6.48-9.63c-1.64,4.94-2.53,7.94-2.53,7.94s-.7,8.55-5.23,7.45c-3.62-.89-2.44-3.89-2.44-3.89l1.2-3.32S379.36,441,387.82,433.48Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_29" class="grey" d="M181.43,459.47s-.23,13.09.35,19.35c.21,2.34,1.47,4.06,3.23,4.3.14-1.41,0-15.66,0-15.66s.52-1.36,1.34.16c.23,1.23-.32,15.25,0,16.72.49,2.09,2.43,3.86,4.37,3.33,1.07-.38,0-16.83.24-17.85.09-.46,1-1.28,1.22.55.17,1.29-.56,11.73.13,18.93.26,2.75,3.22,4.67,3.91,3,.36-.87-.24-21.81.06-22a1,1,0,0,1,1.5.81c.14,1.59-.55,15.53.26,21.43.38,2.71,5.34,2.55,5.78-.2.32-2-1.31-5.37-1.72-11.25a102.71,102.71,0,0,1-.08-11.54A51.3,51.3,0,0,1,181.43,459.47Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_29" class="grey" d="M413.48,458.05s.22,13.08-.36,19.35c-.21,2.33-1.47,4.06-3.23,4.29-.13-1.4,0-15.65,0-15.65s-.53-1.37-1.35.15c-.23,1.23.32,15.25,0,16.72-.48,2.1-2.43,3.86-4.37,3.33-1.06-.37,0-16.83-.24-17.84-.09-.47-1-1.28-1.21.55-.17,1.28.55,11.73-.13,18.93-.27,2.75-3.23,4.66-3.92,3-.36-.88.24-21.81-.06-22a1,1,0,0,0-1.5.82c-.14,1.58.56,15.53-.26,21.43-.38,2.7-5.34,2.55-5.78-.21-.31-2,1.31-5.37,1.72-11.25a104.19,104.19,0,0,0,.09-11.54A51.19,51.19,0,0,0,413.48,458.05Z" transform="translate(-180.76 -111.03)"/>
          <ellipse id="R_67" class="grey" cx="367.42" cy="430.84" rx="5.46" ry="27.14" transform="translate(-216.82 -77.46) rotate(-4.99)"/>
          <ellipse id="L_67" class="grey" cx="254.02" cy="430.4" rx="27.14" ry="5.46" transform="matrix(0.15, -0.99, 0.99, 0.15, -391.01, 504.36)"/>
          <ellipse id="_66" data-name="66" class="grey" cx="128.14" cy="335.58" rx="5.46" ry="9.98"/>
          <path id="L_43" class="grey" d="M278.37,541.21s-5.3,26.67-9.53,33.61a169.24,169.24,0,0,0-1.53,18s-8.35-16.59-26.12-9.17c2-17.65,7.88-49.24,7.88-49.24S262.13,534.75,278.37,541.21Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_42" class="grey" d="M239.19,534.41s-4.23,21.18-3.88,29.38-.88,13.77-3.09,18.18-.88,6.18-.88,6.18a30,30,0,0,1,7.29-4.24c2.56-16.59,7.8-45.57,8.85-49.5Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_43" class="grey" d="M316.66,539.35s2.41,40.94,1.82,48.8c6.59-5.92,8.95-11.68,26-6.74,0-20.23,1.12-41.18,1.12-41.18Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_42" class="grey" d="M355.66,541.21s-.82,23.61-2.35,30.91a26.91,26.91,0,0,0,1.17,14,63.31,63.31,0,0,0-8.2-4.42c-.55-9.41.49-41.41.49-41.41Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_45" class="grey" d="M231.34,588.15s-7,20.2-8,34.67c1.23,7.24,1.65,22.06,1.59,24.35a38.76,38.76,0,0,0,8,4c1.32-23.44,3.3-42.82,5.7-67.21A29.7,29.7,0,0,0,231.34,588.15Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_46" class="grey" d="M267.31,592.82v24.09h0s-7.3,12-8.8,14.82-3.38,14.79-4.5,18.53c-2.27.93-15.17,2.65-19.37,1.18.76-21.29,6.55-67.79,6.55-67.79s15.59-8.12,26.12,9.17Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_49" class="grey" d="M224.9,648.5a33.31,33.31,0,0,0,8,3.9c-.88,11.3-1.94,33.94-2.07,36.22,0,0-11.33,6.53-20.57,10.82a92.42,92.42,0,0,0,12.56-19.79C224.36,676.77,225.21,651.28,224.9,648.5Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_50" class="grey" d="M234.64,652.78s-2.07,32.28-2.31,35.25c4.3-2.06,10.08-3.15,14.47.53-.36-8.47.07-10.68.07-10.68s4.59-18.35,7-26.2C241.41,654.75,234.66,652.67,234.64,652.78Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_45" class="grey" d="M354.48,586.12s6.36,20.54,7.16,35c-1.37,7.21-2.4,17.82-2.14,23.82a22.19,22.19,0,0,1-8,3.15c-.49-22.65-1.72-44.71-5.2-66.42A67.55,67.55,0,0,1,354.48,586.12Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_46" class="grey" d="M318.48,588.15l-.73,26.28h0s7.07,12.13,8.52,15,3.65,17.39,4.77,18.82c2.89.93,14.07,1.18,18.95.12,0-22.53-4.87-66.93-5.51-66.94,0,0-16.5-7.2-26,6.74Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_49" class="grey" d="M359.57,646.8s-5.39,2.66-7.91,3c.67,11.39,2.87,36,2.87,36,2,1.39,9.51,5.67,20.37,11.26a89.92,89.92,0,0,1-12.06-19.62C361.31,674.48,359.36,648.65,359.57,646.8Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_50" class="grey" d="M350.22,650.32s1.38,25.77,2.74,35.12c-2.92-1.68-10.8-3.23-14.53.48.51-8.46-.65-10.86-.65-10.86s-6.32-20.64-6.42-25A51.27,51.27,0,0,0,350.22,650.32Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_54" class="grey" d="M338.35,687.59s-4.24,15.44,8,17.67S360.07,691,360.07,691,345.37,680.23,338.35,687.59Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_55" class="grey" d="M376,698.71l1.57,2.79s-7.42,11.76-21.59,12.82c-.06-4,0-4.47,0-4.47l-5.4-3.69c5.6-.35,10.06-7.41,10.61-14.61A161.36,161.36,0,0,0,376,698.71Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_56" class="grey" d="M378.3,702.72l3.48,6.57s-8.5,12.15-21.79,12.42c-3.71-4.92-3.8-5.93-3.8-5.93S371.24,714.11,378.3,702.72Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_57" class="grey" d="M395,721.18c-1.35,8.14-22.53,9.94-34.18,1.82a31.22,31.22,0,0,0,21.71-12.47C388.72,710.68,395.66,711.94,395,721.18Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_54" class="grey" d="M246.89,689.79s4.24,15.44-8,17.68-13.67-14.29-13.67-14.29S239.87,682.44,246.89,689.79Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_55" class="grey" d="M209.22,700.92l-1.56,2.79s7.41,11.76,21.59,12.82c.06-4,0-4.47,0-4.47l5-3.78c-5.78-1.17-9.22-7.9-9.83-14.74A167.42,167.42,0,0,1,209.22,700.92Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_56" class="grey" d="M206.93,704.93l-3.47,6.57s8.5,12.15,21.79,12.41C229,719,229,718,229,718S214,716.31,206.93,704.93Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_57" class="grey" d="M190.28,723.38c1.35,8.15,21.65,9,33.7,2.09,0,0-12.23-.82-21.23-12.74C196.51,712.88,189.57,714.15,190.28,723.38Z" transform="translate(-180.76 -111.03)"/>
          <path id="L_65" class="grey" d="M304.75,414.15S288.39,393,268,385.87c-7.06-4.66-.09-10.46,4.41-9.22.68-.15,27.41,8.35,32.38,33.26Z" transform="translate(-180.76 -111.03)"/>
          <path id="R_65" class="grey" d="M304.86,414.15s16.36-21.16,36.79-28.28c7.06-4.66.09-10.46-4.41-9.22-.69-.15-26.05,5.58-32.38,33.26Z" transform="translate(-180.76 -111.03)"/>
        </svg>

      </div>
    </ion-row>
    <ion-row>
      <div class="front">
        <svg (click)="selectState($event)" style="height:570px; width:250px; border-style : groove" id="back_subarea" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.54 647.87">
          <defs>
            <style>
              .grey {
                fill: #616060;
                stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 0.7px;
              }
            </style>
          </defs>
          <title>front_subarea_clean</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="front_subarea">
              <path id="B_11" class="grey" d="M205.8,218.79c15.44-2.21,26.95-29.91,60.35-29.5,29,.35,34.55,23.76,52.17,28.64l7.45-18.66s-14.73-11.53-15-29.18,13.1-27.5,13.1-27.5c-10.86-7.3-15.53-19.25-9.75-29a9.58,9.58,0,0,1-4.12-1c-1.27-.84-1-3.64.87-6.55L291,97.39s-9.11,9.94-27.22,10.74A33.08,33.08,0,0,1,238.41,97.8l-21.08,7.66a9.9,9.9,0,0,1,1.76,4.43s.21,2.41-3.2,2.52c2.8,6.37,4.55,17.54-9.83,27.89,25.53,23.88-5.4,58.38-5.4,58.38Z" transform />
              <path id="R_12" class="grey" d="M186.75,151.68A177.4,177.4,0,0,0,196,167.16c2,8.72,2.89,20.08,4.46,29.17,8.19-10.47,24.22-36.74,4.54-54.83C198.77,146.62,186.75,151.68,186.75,151.68Z"/>
              <path id="L_12" class="grey" d="M343.36,154.15c-1,2.71-4.89,9.59-8.82,16.72-3.26,8.69-5.37,19.43-7.77,26.9-12-8.55-24.18-35.63-1.77-53.9C331.05,148.33,343.36,154.15,343.36,154.15Z"/>
              <path id="B_13" class="grey" d="M198.62,265.76c16.27,9.76,46.77,29.19,60,41.74,17.91-8.2,51.09-13.7,60.9-14.47,5.18-38.44-10.25-40-2-73.19-16.35-3.63-24.41-28.21-50.23-28.93-34.13-.94-43.94,27.21-61,29.62C210,242.12,203.78,252.47,198.62,265.76Z"/>
              <path id="R_14" class="grey" d="M206.33,112.09c-2.46-1.51-2-4.66-2.28-6.25a30.82,30.82,0,0,0-7.81-.47v1.54C185.8,115,171.6,123.32,157.11,129.8a60.67,60.67,0,0,1,13.67,14.13,6,6,0,0,1,.87-3.13,82.53,82.53,0,0,1,39.92-26.05c1.72-.39,4,1.24,4.82,3a22.18,22.18,0,0,0-1.95-5.28C213.13,112.59,207.21,112.91,206.33,112.09Z"/>
              <path id="L_14" class="grey" d="M322.44,113.28c1.62-.59,2.08-5.37,1.87-6.09,2.95-.8,7.53-.25,9.54.15l0,1.72C344.3,117.12,358.51,125.47,373,132a61,61,0,0,0-13.68,14.12,6,6,0,0,0-.86-3.12,82.55,82.55,0,0,0-39.92-26c-1.72-.4-4,1.24-4.82,3,.5-2.39.8-4.42,1.84-6C318.53,114.06,321.47,113.75,322.44,113.28Z"/>
              <path id="R_17" class="grey" d="M113.73,140.49s23.33-11.81,36.74-12.52c10.83,6.59,20.12,19.95,22.94,26.39-9.82,8.74-43.76,16.51-59,16.51C114.47,165.91,113.73,149.32,113.73,140.49Z"/>
              <path id="L_17" class="grey" d="M415.3,142.9S392,131.08,378.56,130.37c-10.83,6.59-20.12,19.95-22.95,26.39,9.83,8.74,43.77,16.51,59.06,16.51C415,164.27,415.18,150.89,415.3,142.9Z"/>
              <path id="R_18" class="grey" d="M76.56,155.21s14.53,15.73,16.91,16.44c10.06.18,18.44-.27,18.44-.27V168.3l-28.85-20Z"/>
              <path id="L_18" class="grey" d="M452.79,156.79s-14.85,16.59-17.23,17.29A146,146,0,0,1,417,173.2v-3.09l28.77-20Z"/>
              <polygon id="R_20" class="grey" points="100.27 130.35 95.33 135.3 111.92 151.23 111.92 140.64 100.27 130.35"/>
              <polygon id="L_20" class="grey" points="428.59 132.79 433.53 137.73 416.94 153.66 416.94 143.07 428.59 132.79"/>
              <polygon id="R_21" class="grey" points="84.03 147.3 94.24 136.33 111.92 153.12 111.92 167.16 84.03 147.3"/>
              <polygon id="L_21" class="grey" points="444.92 149.07 434.68 138.39 417.03 154.89 417.03 168.93 444.92 149.07"/>
              <path id="R_22" class="grey" d="M42,91.71l40.12,55.58-6.5,6.94C58.84,140.69,51,112.65,39,93.89Z"/>
              <path id="L_22" class="grey" d="M485,92.22l-38.19,56.92,6.74,6.72c16.27-14.1,23.15-42.4,34.54-61.57Z"/>
              <polygon id="R_24" class="grey" points="51.96 84.8 57.39 80.5 99.3 129.13 94.36 134.08 51.96 84.8"/>
              <polygon id="L_24" class="grey" points="475.14 85.89 469.57 81.78 429.35 131.83 434.45 136.6 475.14 85.89"/>
              <polygon id="R_25" class="grey" points="50.81 85.64 93.36 135.13 83.16 146.1 43.44 90.84 50.81 85.64"/>
              <polygon id="L_25" class="grey" points="476.31 86.69 435.48 137.62 446.06 148.23 483.85 91.64 476.31 86.69"/>
              <path id="R_27" class="grey" d="M37.77,91.71A134.21,134.21,0,0,0,56.12,78.33c-7.18-6-21.1-26.13-23.29-29.18C26.46,55.2,21.61,61.52,16,68.87,22.71,77.39,30.14,85.62,37.77,91.71Z"/>
              <path id="L_27" class="grey" d="M489.5,92.88A134,134,0,0,1,470.65,80.2c7-6.27,20.1-26.9,22.18-30,6.59,5.8,11.67,11.93,17.56,19.07C504,78,496.89,86.5,489.5,92.88Z"/>
              <path id="R_28" class="grey" d="M33.75,48.38a19.83,19.83,0,0,1,4.78-3.84S43.8,52,48.39,54.27c.52-10,.08-18.53,3.57-18.36a4.18,4.18,0,0,1,4.16,4.33c0,1.32,0,12.79,2.24,15.7s-1.77,21.18-1.77,21.18C53.7,76,37.41,53.75,33.75,48.38Z"/>
              <path id="L_28" class="grey" d="M491.88,49.43A19.9,19.9,0,0,0,487,45.77s-5,7.63-9.49,10.09c-.91-9.94-.79-18.51-4.26-18.2a4.17,4.17,0,0,0-4,4.48c0,1.32.45,12.78-1.64,15.78S470.14,79,470.14,79C473,77.82,488.42,54.93,491.88,49.43Z"/>
              <path id="R_30" class="grey" d="M15.12,67.94S28.53,49.15,37.89,43.59A133.87,133.87,0,0,0,23.5,25.33c-2.91-2.65-6.44.35-3.79,3.35A174.33,174.33,0,0,1,30.36,43.75c1,1.63-.81,3.15-2.4,1.43A200.76,200.76,0,0,0,13,27.71c-1.72-1.63-5.07,1.1-3.31,3.66C15,37.39,19.49,43,23.83,49c1.39,1.7-.28,3.48-1.89,1.69C17.21,46.05,12.39,40.8,7.5,35.06c-2.29-2.32-5.59.85-4.38,3.06,5,6.49,9.81,12.57,14.09,18.18a1.4,1.4,0,0,1-2,1.91A131.54,131.54,0,0,1,2.77,44.83C.56,43.56-.61,46.27.33,47.8A176.45,176.45,0,0,0,15.12,67.94Z"/>
              <path id="L_30" class="grey" d="M511.23,68.28S497.12,50,487.57,44.8A134,134,0,0,1,501.25,26c2.81-2.76,6.45.11,3.92,3.21a176.54,176.54,0,0,0-10.08,15.45c-.93,1.67.94,3.12,2.46,1.34a202.18,202.18,0,0,1,14.29-18c1.65-1.69,5.11.91,3.44,3.54-5.06,6.21-9.35,12-13.46,18.15-1.32,1.75.41,3.46,1.95,1.62,4.56-4.82,9.17-10.25,13.84-16.17,2.2-2.4,5.62.64,4.49,2.9-4.7,6.66-9.33,12.93-13.39,18.69a1.4,1.4,0,0,0,2.1,1.83A130.17,130.17,0,0,0,522.7,44.72c2.17-1.35,3.44,1.31,2.56,2.87A176,176,0,0,1,511.23,68.28Z"/>
              <path id="R_36" class="grey" d="M214.36,425.39h15.26c-.62-40.71,19.78-77.3,19.78-105.89-10.47-6.09-31.84-19-41.88-27.84C204.59,321.63,210,368.06,214.36,425.39Z"/>
              <path id="L_36" class="grey" d="M301,444.91c6.71-1.29,13.3-2.53,19.59-3.11-8.21-44.67-13.54-90.85-14.38-130-16.16,4.48-25.61,6.85-40,9.85C271.29,341.84,291.75,382.52,301,444.91Z"/>
              <path id="R_37" class="grey" d="M254.77,322.39s-4.06,81.17-10.94,104.11c-2.8-.41-11.78-1-11.78-1-1.81-35.61,18.42-73.32,19.42-105.08C252.65,321.12,253.91,321.89,254.77,322.39Z"/>
              <path id="L_37" class="grey" d="M289.64,447.83c2.11-.55,7.11-2.1,9.77-2.68C282,361.13,267,338.31,264.13,321.63c-1.88.27-5.37.59-7.11.65C251.44,380.52,277.59,392.44,289.64,447.83Z"/>
              <path id="R_38" class="grey" d="M206.21,290.74s-4.31-3.31-6.67-5.65c.29,20.41-6.18,47.88-7.22,49.71l-4.78-.64c.36,30.39,6.46,61.38,15,92.64l10.37-1.06C211.53,394.5,201.83,329.47,206.21,290.74Z"/>
              <path id="L_38" class="grey" d="M324.24,352.43a34.07,34.07,0,0,1-3.65.38c-1.59-5.34-7.54-23.6-9.48-41.38,2.67-.88,5.33-1.54,8-2.24L319,307.5c-2.35.83-8.63,3-10.93,3.89,1.49,44.67,8.14,89.87,14.18,129.64,3.35-.11,6.88,0,9.76,0C333.76,415.57,328.76,384.5,324.24,352.43Z"/>
              <path id="R_40" class="grey" d="M214.53,427.55S213.12,457,210,469.19c5.83,1.37,17.83.62,17.83.62.56-13.5,1.76-27.75,1.76-42.26Z"/>
              <path id="L_40" class="grey" d="M301.43,446.91q4.85,20.16,10.28,39.62c5.41-1,11-2.26,16.61-3.83L321,443.52C319.29,443.39,306.8,445.24,301.43,446.91Z"/>
              <path id="R_41" class="grey" d="M231.83,427.55c-.51,13.38-1,27.38-1.59,41.83,4,0,8.19-1.09,10.94-1.58,0,0,2.65-35.44,2.65-39.15C242.24,428.56,231.83,427.55,231.83,427.55Z"/>
              <path id="L_41" class="grey" d="M290.26,449.85a66.17,66.17,0,0,1,9.27-2.46s6.71,27.29,11.06,39.41a25.54,25.54,0,0,1-4.68.7,27.89,27.89,0,0,0-.5-6.82C304.71,478,294.14,463.71,290.26,449.85Z"/>
              <path id="R_42" class="grey" d="M202.58,428.65s2,26.29-.86,37.44c6.46,3,6.72,3.1,6.72,3.1,2-9.22,4-28.95,4.46-41.64C208.71,427.91,202.58,428.65,202.58,428.65Z"/>
              <path id="L_42" class="grey" d="M330.34,482.21l7.7-2s-5.36-34.45-5.71-37.28c-2-.08-9.73.38-9.73.38Q326.66,463.74,330.34,482.21Z"/>
              <path id="R_44" class="grey" d="M209.78,471.15c6.82,1.12,22.7,1,31.94-1.77,4.23,8.83,8.82,26.83,4.06,48.71s-.21,48.82-.21,48.82c-3.85-.17-11.47.72-15.61,1.33,0,0-6-23.37-9.71-38.8C215,507.68,207.31,489.68,209.78,471.15Z"/>
              <path id="L_44" class="grey" d="M328.72,484.47s-16.77,4.33-22.59,4.15c-.35,9.88-1.94,30,13.41,56.47s16.09,35.12,16.09,35.12h14.81a189.55,189.55,0,0,0-9.54-53.47C333.18,503.32,328.72,484.47,328.72,484.47Z"/>
              <path id="R_45" class="grey" d="M201.13,467.8s-9,21.52,4.77,54.7,15.83,46.67,15.83,46.67c2.34-.34,5-.65,6.83-.72,0,0-10.09-38.37-18.25-68.89-4.77-17.82-2.12-28.76-2.12-28.76Z"/>
              <path id="L_45" class="grey" d="M330.85,483.9l8.46-2.36s10.41,6.37,13.94,36,4.23,62.65,4.23,62.65H352.2s.5-24.23-9.8-55.41C332.51,494.88,330.85,483.9,330.85,483.9Z"/>
              <path id="R_47" class="grey" d="M340,581.74l12.65,33.73s5.59-7.32,12.29-10.17c-5.41-8-13.95-23.56-13.95-23.56Z"/>
              <path id="L_47" class="grey" d="M229.83,569.7l-1.36,20.55s7.81,0,12.42,1.06c.41-14.06.59-22.78.59-22.78Z"/>
              <path id="R_49" class="grey" d="M352.47,581.74l14.22,22.67s4-2.15,5.78-2.44c-6.35-6.47-9.35-7.57-9.35-7.57s-1.87-9.91-5.35-12.86C356,581.54,352.47,581.74,352.47,581.74Z"/>
              <path id="L_49" class="grey" d="M221.77,570.68s-.24,16.19-2.21,20.63a32.31,32.31,0,0,1,7.38-.92s1-12,1.53-20.55Z"/>
              <path id="R_51" class="grey" d="M349.71,623.91s8.2-15.7,23.82-20.69c4,4.19,8.12,9.27,15.44,14.39-6.35,1.94-18.66,4.58-27.13,17A110.62,110.62,0,0,0,349.71,623.91Z"/>
              <path id="L_51" class="grey" d="M219.05,592.9a41.3,41.3,0,0,1-9.87,10.9c14.53,1.17,26.29,5.41,39.29,12.41,1-3-.72-14.91,1.28-19.15C240.08,590.12,219.05,592.9,219.05,592.9Z"/>
              <path id="R_52" class="grey" d="M363,636s7.87,9.24,11.06,11.08c2.92,1.69,6.75.61,8.93-2.78-3.22-3.4-14.38-14.61-14.38-14.61A32.26,32.26,0,0,0,363,636Z"/>
              <path id="L_52" class="grey" d="M237.58,613a186.58,186.58,0,0,1-8.93,16.66,14.58,14.58,0,0,0,17.29-5.07,45.73,45.73,0,0,0,2.25-6.57Z"/>
              <path id="R_53" class="grey" d="M370.09,628.37A47.31,47.31,0,0,1,390.33,619c6,5.69,5.44,7.55,5.44,7.55s2.12,3.13-3.18,10.41a19.22,19.22,0,0,1-7.63,6.14Z"/>
              <path id="L_53" class="grey" d="M207.74,605.3s-7.24,7.76-4.59,12.61,22.24,11.83,23.74,11.3c1.6-2,9-16.94,9-16.94S219.56,606.27,207.74,605.3Z"/>
              <path id="R_54" class="grey" d="M335.59,581.74s-.18,7.65-1.94,9.83,2.65,5.52,2.65,5.52-3.36,18,2.64,20.4a44.22,44.22,0,0,1,9.18,4.71l3.18-5.06-13.24-35.4Z"/>
              <path id="L_54" class="grey" d="M242.94,568.53l-.86,22.91s5.52,1.9,7.44,3.71c-.47-9.22-.05-10.88-.05-10.88a3.72,3.72,0,0,0,1.65-4.14c-.76-2.71-5.32-11.6-5.32-11.6Z"/>
              <path id="R_67" class="grey" d="M193.89,279.56a34.37,34.37,0,0,0,4.73,4.88,228,228,0,0,1-7.12,49.09l-4-.7A412.68,412.68,0,0,1,193.89,279.56Z"/>
              <path id="L_67" class="grey" d="M319.41,310.57a61.09,61.09,0,0,0-7,1.83c2.38,17.08,9.22,39.05,8.74,39a15.65,15.65,0,0,0,2.91-.26C322.27,337.62,320.53,324.12,319.41,310.57Z"/>
              <path id="R_68" class="grey" d="M198,267.62s51,31.41,58.8,41.18c-.7,4.17-1.77,11.17-1.77,11.17-17.68-9.6-50.06-31.7-60.62-42.38C196.23,271.89,198,267.62,198,267.62Z"/>
              <path id="L_68" class="grey" d="M319.55,294.56s-38.77,4.94-60.67,14.7c-.47,3.3-1.72,11.52-1.72,11.52,16-1.72,48.61-9.75,61.75-14.95C319.51,300.42,319.55,294.56,319.55,294.56Z"/>
              <path id="R_69" class="grey" d="M204.8,105.88c1.79-.54,6.49.18,7.35.44a21.55,21.55,0,0,1,4.52-.66s3,4.73.18,5.58a39.43,39.43,0,0,1-9.69.25C204.5,110.82,204.8,105.88,204.8,105.88Z"/>
              <path id="L_69" class="grey" d="M323.49,107.28c-1.78-.54-6.49-.17-7.35.09a34.93,34.93,0,0,0-4.43-.89s-3.1,5-.27,5.81c1.7.52,8.51.56,9.68.26C323.79,111.87,323.49,107.28,323.49,107.28Z"/>
              <path id="R_70" class="grey" d="M194.68,105.32v1.34c-6.57,5.2-18.15,12.28-39,22.44l-3.6-1.6C163.08,114.73,177.83,107.47,194.68,105.32Z"/>
              <path id="L_70" class="grey" d="M334.54,107.47v1.34c6.57,5.2,18.16,12.28,39,22.44l3.6-1.6C366.15,116.88,351.39,109.61,334.54,107.47Z"/>
              <path id="R_71" class="grey" d="M215.45,119.5a4.7,4.7,0,0,0-4.53-4,82.9,82.9,0,0,0-38.12,25c-.84,1.23-2,2.92-1.83,4.95l4.74,8.24C203.13,142.92,215.76,133.49,215.45,119.5Z"/>
              <path id="L_71" class="grey" d="M313.77,121.65a4.7,4.7,0,0,1,4.53-4,82.9,82.9,0,0,1,38.12,25c.85,1.23,2,2.92,1.83,5l-4.74,8.24C326.09,145.07,313.46,135.64,313.77,121.65Z"/>
              <path id="head" class="grey" d="M239.86,97l1.55-20.38A20,20,0,0,1,239,68.7c-3.41-1.56-8-8.64-9.56-17.39s-.79-10.2,5-8.64C233.68,38,228.72,0,268.46,0c26.63,0,35.66,22.52,30.6,42.67,5.47-3.84,6,.42,6,.42-.79,11.73-5.64,21.82-11.65,25.61,0,0-2.35,6.6-3.52,8.15-.12,10.32-.24,19.89-.24,19.89C272.15,109.5,254.36,109.86,239.86,97Z"/>
            </g>
          </g>
        </svg>
       </div>
    </ion-row>
  </ion-col>
  <ion-col>
    <ion-row>
        <ion-button
        [disabled]="!isSubAreaClicked"
        (click)="moveToComplaintCreationPage()"
        class=" btn btn-sm px-5 btn-success"
        style="float: right;margin-right: 15%;margin-top: 5%"
      >
        Next
      </ion-button>
    </ion-row>
  </ion-col>
</ion-content>
