<ion-header>
  <ion-toolbar>
    <ion-title>previousSessionFB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div  class="surveyElement" id="surveyElement3" style="overflow-y: auto;" ></div>
  <ion-label #bold >Daily feedback Page</ion-label>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="text-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"> </span>
        </div>
      </div>
    </div>
  <div  class="surveyElement" id='surveyJsElementForDailyFB' style="overflow-y: auto;" ></div>
</ion-content>
